# IDE和编辑器缓存
.claude/
.vscode/
.idea/
*.swp
*.swo
*~


# 操作系统生成的文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Java编译文件
*.class

# 日志文件
*.log

# 临时文件
*.tmp
*.temp

# 依赖目录
node_modules/
target/
dist/
build/

# 环境变量文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


frontend-web/.env
frontend-web/.env.development
frontend-web/.env.production
/frontend-web/node_modules


/.vscode
/.claude
/.idea
/node_modules
/.idea
/seeker
