<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SmartHire.adminService.mapper.ApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.SmartHire.adminService.model.Application">
        <id column="id" property="id" />
        <result column="job_id" property="jobId" />
        <result column="job_seeker_id" property="jobSeekerId" />
        <result column="resume_id" property="resumeId" />
        <result column="initiator" property="initiator" />
        <result column="status" property="status" />
        <result column="match_score" property="matchScore" />
        <result column="match_analysis" property="matchAnalysis" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_id, job_seeker_id, resume_id, initiator, status, match_score, match_analysis, created_at, updated_at
    </sql>

</mapper>
