<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SmartHire.adminService.mapper.JobSeekerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.SmartHire.adminService.model.JobSeeker">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="real_name" property="realName" />
        <result column="birth_date" property="birthDate" />
        <result column="current_city" property="currentCity" />
        <result column="education" property="education" />
        <result column="job_status" property="jobStatus" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="graduation_year" property="graduationYear" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, real_name, birth_date, current_city, education, job_status, created_at, updated_at, graduation_year
    </sql>

</mapper>
