<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SmartHire.adminService.mapper.SkillMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.SmartHire.adminService.model.Skill">
        <id column="id" property="id" />
        <result column="job_seeker_id" property="jobSeekerId" />
        <result column="skill_name" property="skillName" />
        <result column="created_at" property="createdAt" />
        <result column="level" property="level" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_seeker_id, skill_name, created_at, level, updated_at
    </sql>

</mapper>
