<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SmartHire.seekerService.mapper.WorkExperienceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.SmartHire.seekerService.model.WorkExperience">
        <id column="id" property="id" />
        <result column="resume_id" property="resumeId" />
        <result column="company_name" property="companyName" />
        <result column="position" property="position" />
        <result column="department" property="department" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="is_internship" property="isInternship" />
        <result column="description" property="description" />
        <result column="achievements" property="achievements" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resume_id, company_name, position, department, start_date, end_date, is_internship, description, achievements, created_at, updated_at
    </sql>

</mapper>
