name: SmartHire Backend CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-backend:
    name: Build & Test Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Cache Maven Repo
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Run Tests
        run: mvn -B test
        working-directory: SmartHire_Backend

      - name: Build JAR
        run: mvn -B clean package -DskipTests=true
        working-directory: SmartHire_Backend

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: smarthire-backend-jar
          path: SmartHire_Backend/target/*.jar

      - name: Install xmllint
        run: sudo apt-get update && sudo apt-get install -y libxml2-utils
          
      - name: Get version from pom.xml
        id: get_version
        run: |
            VERSION=$(xmllint --xpath "//*[local-name()='project']/*[local-name()='version']/text()" SmartHire_Backend/pom.xml)
            # 去掉 SNAPSHOT 后缀
            CLEAN_VERSION=${VERSION/-SNAPSHOT/}
            echo "VERSION=$CLEAN_VERSION" >> $GITHUB_ENV
            echo "Original version: $VERSION, Release version: $CLEAN_VERSION"

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.VERSION }}
          name: Release v${{ env.VERSION }}
        env:
          GITHUB_TOKEN: ${{ secrets.SMARTHIRE_TOKEN }}

      - name: Upload JAR to Release
        uses: softprops/action-gh-release@v1
        with:
          files: SmartHire_Backend/target/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.SMARTHIRE_TOKEN }}
